# Virtual environment
venv/
.venv/
env/
bin/
lib/
include/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
