{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="{% static 'tarefas/css/style.css' %}">
</head>

<body>

    <div class="container">
        <div class="card">
            <h1>Editar Tarefa</h1>

            <form method="post" action="">
                {% csrf_token %}
                {{form.as_p}}

                <div class="actions">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    <a href="{% url 'tarefas:tarefas_home'%}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>